* {
  padding: 0;
  margin: 0;
}

.main{
 position: absolute;
 top: 10%;
 bottom: 10%;
 right:0;
 left:0;
 background-color: blue;
 overflow: hidden;
}

#game{
  position: absolute;
  height: 480px;
  width: 480px;
  margin-left: 25%;
}

#board {
  left : 0; z-index:0; position: absolute;
}

#markers {
  left : 0; z-index:0; position: absolute;
}

#chessmen_layer {
 left : 0; z-index:1; position: absolute;
}

header{
  position: absolute;
  background-color: red;
  top:0;
  right: 0;
  left: 0;
  height: 10%;
}

footer{
  position: absolute;
  z-index: 3;
  right: 0;
  left: 0;
  background-color: green;
  height: 10%;
  bottom: 0;
}