* {
  padding: 0;
  margin: 0;
}

.main{
 position: absolute;
 top: 9%;
 bottom: 9%;
 right:0;
 left:0;
 overflow: hidden;
}

#game{
  position: absolute;
  top:50%;
  left: 50%;
  margin-left:-240px;
  margin-top:-240px;
  height: 480px;
  width: 480px;
}

#board {
  left : 0; z-index:0; position: absolute;
}

#markers {
  left : 0; z-index:0; position: absolute;
}

#chessmen_layer {
 left : 0; z-index:1; position: absolute;
}

header{
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  height: 9%;
}

footer{
  position: absolute;
  z-index: 3;
  right: 0;
  left: 0;
  height: 9%;
  bottom: 0;
}