* {
  padding: 0;
  margin: 0;
}

.game{
  position: relative;
  height: 480px;
  width: 480px;
}
canvas {
}

#board {
  left : 0; z-index:0; position: absolute;
}

#markers {
  left : 0; z-index:0; position: absolute;
}

#chessmen_layer {
 left : 0; z-index:1; position: absolute;
}

.wrapper{
  display: grid;
  grid-template-rows: fr fr 1fr;
  grid-gap: 1em;
  grid-template-areas: "header header header main main main footer footer footer"
}
.wrapper > div{
  background: #eee;
  padding: 1em;
}

.wrapper >div:nth-child(odd){
  background: #ddd;
}
