* {
  padding: 0;
  margin: 0;
}

.game{
  position: relative;
  /* height: 480px;
  width: 480px; */
  grid-area: game;
}
canvas {
}

#board {
  left : 0; z-index:0; position: absolute;
}

#markers {
  left : 0; z-index:0; position: absolute;
}

#chessmen_layer {
 left : 0; z-index:1; position: absolute;
}

.wrapper{
  display: grid;
  grid-template-rows: fr fr 1fr;
  grid-template-columns: fr fr 1fr;

  grid-gap: 1em;
  grid-template-areas: 
  "header header header"
  "main main main" 
  "footer footer footer"
}
.wrapper > div{
  background: #eee;
  padding: 1em;
}

.wrapper >div:nth-child(odd){
  background: #ddd;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  grid-template-columns: fr fr 1fr;

  grid-template-areas: 'space1 game space2'
}

.footer{
  grid-area: footer;
}

.space1 {
  grid-area: space1;
  background: red;
}
.space2 {
  grid-area: space2;
  background: blue;

}
